.container {
  margin-left: 15px;
  margin-right: 15px;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-grey);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  max-width: 480px;
}

img {
  display: block;
  max-width: 100%;
}

.mobile-menu {
  padding: 48px 40px;
}

@media screen and (min-width: 481px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .mobile-menu {
    position: absolute;
    top: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.is-open + .mobile-menu {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #fff;
}

.mobile-menu__address-list {
  margin-top: auto;
}

.mobile-menu__social-item:not(:last-child) ::after {
  content: "";
  width: 0px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__address-tel {
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-menu__address-mail {
  color: var(--primary-grey);
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 64px;
}

.mobile-menu__nav-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-black);
  text-decoration: none;
  margin-bottom: 32px;
}

.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--accent-color);
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul {
  list-style: none;
}

.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__web {
  color: var(--accent-color);
}

.logo__header {
  color: #000000;
}

.logo__footer {
  color: var(--white);
  margin-bottom: 30px;
}

:root {
  --accent-color: #2196f3;
  --primary-black: #212121;
  --primary-grey: #757575;
  --white: #ffffff;
  --background-black: #2f303a;
  --background-grey: #f5f4fa;
  --main-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-button:hover, .menu-button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 481px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
/*# sourceMappingURL=main.css.map */