:root {
	--accent-color: #2196f3;
	--primary-black: #212121;
	--primary-grey: #757575;
	--white: #ffffff;
	--background-black: #2f303a;
	--background-grey: #f5f4fa;
	--main-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}