.benefits__item:not(:last-child) {
	margin-bottom: 30px;
}
.benefits__div {
	background-color: var(--background-grey);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.benefits__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-black);

	margin-bottom: 10px;
}
.benefits__text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-grey);
}
.benefits__icon {
	width: 70px;
	height: 70px;
	margin: 25px auto;
}
.benefits__text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-grey);
}
