
.footer {
	background-color: var(--background-black);
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	align-items: baseline;

	&__container {
		display: flex;
		align-items: baseline;
	}
	&__invite {
		margin-left: 84px;
	}	
	&__subscribe {
		margin-left: 93px;
	}
	
	&__submit-button {
		width: 200px;
		background-color: var(--accent-color);
		display: flex;
		align-items: center;
		color: var(--white);
		cursor: pointer;
		border: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		padding: 10px 29px;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.06em;
		margin-left: 12px;
	}
	&__input {
		width: 358px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
		background-color: var(--background-black);
		padding: 15px 16px;
		color: var(--white);
	}
	&__input::placeholder {
		color: rgba(255, 255, 255, 0.6);
	}
	&__label {
		display: flex;
		align-items: flex-end;
		margin-top: 20px;
	}
	&__title {
		text-transform: uppercase;
		color: #ffffff;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
	}
}
.address-list__link {
	text-decoration: none;
	color: var(--white);
	font-style: normal;
	transition: color 250ms var(--main-cubic);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.address-list__contacts {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	transition: color 250ms var(--main-cubic);

	&:hover,
	&:focus {
	color: var(--accent-color);
}
}
.address-list__item:not(:first-child) {
	margin-top: 9px;
}
.address-list {
	margin-top: 20px;
}
.subscribe-icon {
	width: 24px;
	height: 24px;
	fill: var(--white);
	margin-left: 10px;
}