.footer {
	background-color: var(--background-black);
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}
.address-list__link {
	text-decoration: none;
	color: var(--white);
	font-style: normal;
	transition: color 250ms var(--main-cubic);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.address-list__contacts {
	display: inline-block;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	transition: color 250ms var(--main-cubic);
	margin-top: 8px;

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.footer__title {
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
}
.footer__input {
	width: 100%;
	max-width: 450px;
	margin-bottom: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: var(--background-black);
	padding: 15px 16px;
	color: var(--white);
	@media screen and (min-width: 1200px) {
		margin-bottom: 0;
		margin-right: 10px;
	}
}
.footer__input::placeholder {
	color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe .subscribe-icon {
	width: 24px;
	height: 24px;
	fill: var(--white);
	margin-left: 10px;
}
.footer__invite {
	margin-top: 60px;
	@media screen and (min-width: 768px) {
		margin-top: 0;
	}
}
.footer__subscribe {
	margin-top: 60px;
	@media screen and (min-width: 1200px) {
		margin-top: 0;
	}
}
@media screen and (min-width: 768px) {
	.footer__container {
		display: flex;
		align-items: baseline;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.footer__container {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.footer__subscribe {
		flex-basis: 100%;
	}
}
@media screen and (min-width: 1200px) {
	.footer__container {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}
	.footer__input {
		width: 358px;
	}
	.footer__label {
		display: flex;
	}
	.footer {
		text-align: start;
	}
	.social-icons--footer {
		justify-content: start;
	}
}
