.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}
.menu-button .icon-close {
    display: none;
}
.menu-button.is-open .icon-close{
    display: block;
}
.menu-button.is-open .icon-menu{
    display: none;
}