.social-icons {
	display: flex;
	justify-content: center;
	align-content: center;
	&__item:not(:last-child) {
		margin-right: 10px;
	}
	&__icon,
	&__icon--footer {
		width: 20px;
		height: 20px;
	}
}
.social-icon__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	fill: #afb1b8;
	transition: color 250ms var(--main-cubic), background-color 250ms var(--main-cubic), fill 250ms var(--main-cubic);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
		fill: #fff;
	}
}

.social-icon__link--footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	fill: var(--white);
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms var(--main-cubic);
}
.social-icon__link--footer:hover,
.social-icon__link--footer:focus {
	background-color: var(--accent-color);
}
.social-icons__item--footer:not(:last-child) {
	margin-right: 10px;
}
.social-icons__item--footer {
	display: flex;
}
